.Footer {
  width: 100%;
  height: 480px;
  background-color: #f7f8f9;
  font-family: 'Adoha Regular';

  .FooterContainer {
    padding: 80px 0px;
    margin-top: 40px;
    position: absolute;
    width: 100%;
    background-color: #f3743533;

    display: flex;
    flex-direction: column;
    align-items: center;

    .FooterContent {
      width: 1104px;
      display: flex;
      justify-content: space-around;

      .Ready {
        font-size: 22px;
        line-height: 29px;
        color: #f37335;

        div {
          width: 160px;
          display: flex;
          align-items: flex-start;
        }

        p {
          text-align: center;
        }

        button {
          height: 50px;
          width: 100%;
          align-self: center;
          outline: none;
          border: 1px solid #f37335;
          background-color: #f37335;
          color: #ffff;
          font-family: 'Adoha Regular';
          font-size: 18px;
          text-align: center;
          cursor: pointer;
          transition: 0.8s all ease;
        }

        button:hover {
          background-color: #c44e13;
        }
      }

      ul {
        list-style: none;

        li {
          font-size: 14px;
          padding: 10px 0;
          color: rgb(106, 105, 110);
        }
      }
    }
    .BottomContent {
      margin-top: 40px;
      width: 990px;
      display: flex;
      justify-content: space-between;

      .Policy {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        width: 270px;
        color: rgb(66, 66, 66);
      }

      .Social {
        width: 120px;
        display: flex;
        justify-content: space-between;
        img {
          height: 22px;
        }
      }
    }
  }
}
